<form action="/" method="post">
  <input type="text" name="name" value="" placeholder="Name">
  <input type="text" name="breed" value="" placeholder="Breed">
  <input type="text" name="age" value="" placeholder="Age">
  <input type="submit" name="" value="submit">
</form>
