<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <form method="POST"  action="/puppy">
    <p>Name: <input type="text" name="name" id="name"></input></p>
    <p>Age: <input type="text" name="age" id="age"></input></p>
    <p>Breed: <input type="text" name="breed" id="breed"></input></p>
    <input type="submit" value="submit"></input>
    </form>
  </body>
</html>
