<h1>Create Puppy</h1>
<form method="POST" action="/puppy">

  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="breed">Breed</label>
      <input id="breed" type="text" name="breed" />
    </li>
    <li>
        <label for="age">Age</label>
        <input id="age" type="integer" name="age" />
      </li>
  </ul>

  <input type="submit" id="submit"/>

</form>
