<<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
 <p>Name: <%=@create_puppy.name%></p>
 <p>Breed: <%=@create_puppy.breed%></p>
 <p>Age: <%=@create_puppy.age%></p>
  </body>
</html>
