<!DOCTYPE html>
<html>
<head>
  <title>Your Puppy!!</title>
</head>
<body>
  <h2>Doggo's Name:</h2>
  <h3><%= @name %></h3>
  <h2>Doggo's Breed:</h2>
  <h3><%= @breed %></h3>
  <h2>Doggo's Age:</h2>
  <h3><%= @age %></h3>
</body>
</html>
